@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body, html {
  background-color: #212121;
  margin: 0; 
  height: 100vh;
  width: 100%; 
}

.container{
    background-color: transparent;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 30px;
}

.h2 {
    color: #fff; 
    font-family:'EB Garamond', serif;
    margin-top: 150px;
    float: left;
    text-align: left;
}

.h3 {
    color: #fff; 
    font-family:'EB Garamond', serif;
    margin-top: 200px;
    text-align: left;
    clear: left;
}