/* Style for the rectangular component */
.rectangularComponent {
  background-color: #424242;
  padding: 20px;
  width: 600px;
  margin: 70px auto 0 auto;
  border-radius: 5px;
}

/* Style for the component title */
.componentTitle {
  margin-top: 0;
  color: #fff;
}

/* Style for the form */
.componentForm {
  margin-bottom: 0;
}

/* Style for the form labels */
.formLabel {
  display: block;
  color: #fff;
  margin-bottom: 10px;
}

/* Style for the form inputs and textareas */
.formInput,
.formTextarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Style for the form textareas */
.formTextarea {
  height: 100px;
}

/* Style for the form submit button */
.formSubmit {
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formSubmit:hover {
  background-color: #5677d8;
}
